/*
* {
  border: 1px dashed lightgray;
}
*/
button {
  padding: 10px;
}

#controls {
  display: flex;
}

#controls button {
  width: 50%;
  margin: 0;
  border: none;
  color: whitesmoke;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

#controls .active {
  font-size: 1.25em;
  color: darkslategray;
  background: linear-gradient(
    rgba(125, 125, 125, 0.25),
    rgba(255, 255, 255, 1)
  );
}

#display {
  height: 50px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  width: 50%;
  margin: 10px;
  padding: 10px 0;
  border-radius: 15px;
  border: 2px solid white;
}

.container {
  position: absolute;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#change-button {
  font-size: 1.5em;
  width: 50%;
}
